@import '../../../style/_variables';
@import '../../../style/_baseMixins';
@import '../../../style/_baseClasses';
.app-header {
  @include base-padding();
  background: rgba($header-color,.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  @include tablet() {
    height: 80px;
  }
  @include desktop() {
    height: 100px;
  }
  &_logo {
    max-height: 30px;
    @include tablet() {
      max-height: 60px;
    }
    @include desktop() {
      max-height: 80px;
    }
  }
  &_items {
    color: white;
    font-size: 12px;
    @include tablet() {
      font-size: 16px;
    }
    @include desktop() {
      font-size: 20px;
    }
  }
}
