<div class="app-home-page-content">
  <div class="app-home-page-content_title with-transition">Welcome!</div>
  <div class="app-home-page-content_tile-container">
    <div class="app-home-page-content_tile-container_tile"></div>
    <div class="app-home-page-content_tile-container_fake-tile"></div>
    <div class="app-home-page-content_tile-container_tile"></div>
    <div class="app-home-page-content_tile-container_fake-tile"></div>
    <div class="app-home-page-content_tile-container_tile"></div>
  </div>
</div>
