@mixin mobile() {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin base-padding() {
  padding: 0 $base-padding-mobile;
  @include tablet() {
    padding: 0 $base-padding-tablet;
  }
  @include desktop() {
    padding: 0 $base-padding-desktop;
  }
}

.container {
  padding: 0 $base-padding-mobile;
  @media (min-width: 768px) {
    padding: 0 $base-padding-tablet;
  }
  @media (min-width: 1024px) {
    padding: 0 $base-padding-desktop;
  }

}
